<ion-card>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button solid (click)="switchAnswerVisibility()" left color="secondary">
                {{activeAnswerButtonText}}
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button (click)="delete()" ion-button color="danger" solid right>
                Deletar
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
        {{cardContent.question}}
        <div *ngIf="answerVisibleQ" class="answer">
            {{cardContent.answer}}
        </div>
        <hr>
        Tags:
        <ion-row>
            <ion-col>
                <ng-container *ngFor="let tag of cardContent.tags; last as isLast">
                    <bau-tag [tagContent]="tag"></bau-tag>
                    <span *ngIf="!isLast"> , </span>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>