<ion-card>
    <ion-toolbar color="visible-light">
        <ion-buttons left>
            <button ion-button icon-only solid (click)="switchAnswerVisibility()" left color="secondary">
                <ion-icon [name]="answerVisibleQ ? 'eye' : 'eye-off'"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button title="Modificar" (click)="modify()" ion-button icon-only color="primary" solid right [disabled]="!userOwnsQ">
                <ion-icon name="create"></ion-icon>
            </button>
            <button title="Deletar" (click)="delete()" ion-button icon-only color="danger" solid right [disabled]="!userOwnsQ">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
        {{cardContent.question}}
        <div *ngIf="answerVisibleQ" class="answer">
            {{cardContent.answer}}
        </div>
        <hr>
        Tags:
        <ion-row>
            <ion-col>
                <ng-container *ngFor="let tag of cardContent.tags; last as isLast">
                    <bau-tag [tagContent]="tag"></bau-tag>
                    <span *ngIf="!isLast"> , </span>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>
